extend base.pug

block content 
    p=video.description
    small=video.createAt
    hr
    input(type="button", value="Edit" ,onclick = `location.href='${video.id}/edit'`)
    input(type="button",value='Delete',onclick =`location.href='${video.id}/delete'`) 